/* BEGIN: edit 08-06-2018 */
.equipment.orders tbody tr td:first-child
    min-width: 100%!important
.equipment tbody tr td:last-child
    text-align: center
.order_status
    width: 130px
.t_pad
    padding-left: 0
.c_top_buttons 
    .bt3
        margin-top: 0px
        height: 49px
.c_summary_val 
    .bt3
        height: 40px
        margin: 0!important     
@media screen and (max-width: 480px)
    .c_top_buttons 
        .bt3
            margin: 0 0 5px
    #id-cart-list
        .quick-order-link
            width: 100%
            margin-left: 0
            line-height: 49px
            padding: 0
    .equipment.orders.n
        thead
            span
                font-size: 16px
/* END: edit 08-06-2018 */