/* BEGIN: edit 07-06-2018 */
.badge.specialoffer
    left: 0!important
    right: initial!important
.w_soc_links 
    .d_soc_width
        width: auto
/* BEGIN: 18-06-2018 */
.cart-list,
.modal
    input
        appearance: none
        border-radius: 0
#addItemInCart
    input
        height: 28px
/* END: 18-06-2018 */   
.t_del
    float: none
    display: inline-block
    margin-right: -3px
.d_quan
    border: 1px solid #cccccc
    .qua,
    input
        display: inline-block
        float: none
        border: none
        vertical-align: top
        height: 47px
    .qua
        margin: 0 -5px 0 0
    input
        border-left: 1px solid #cccccc
        border-right: 1px solid #cccccc
        margin: 0 -5px 0 0
@media screen and (min-width: 568px) and (max-width: 1024px)
    .workarea.pright
        width: 100%
        .d_image,
        .d_tech_n .title,
        .right_d_pay
            width: 32%
        .right_d_pay
            max-width: 150px
            float: left
        .listitem_horizontal.pleft 
            .bt3
                margin-left: 0!important
                margin-top: 10px
        .d_tech_n 
            .title
                border-right: 1px solid #ddd
                padding-right: 15px
                margin-right: 15px!important
@media screen and (min-width: 568px) and (max-width: 767px)
    .workarea.pright
        .d_image
            img
                width: 100%        
        .right_d_pay
            clear: none
        .d_image,
        .d_tech_n .title,
        .right_d_pay
            width: 30%
    td.table_quan, 
    td.table_del
        padding:
            left: 32px
            right: 32px
@media screen and (min-width: 481px) and (max-width: 767px)
    td.table_quan, 
    td.table_del
        padding:
            left: 32px
            right: 32px    
    .slideViewer div:first-child > ul > li img
        max-width: 565px !important
        max-height: 565px !important         
@media screen and (max-width: 480px)
    .slideViewer div:first-child 
        > ul 
            > li 
                img
                    max-width: 400px !important
                    max-height: 400px !important
                    margin-top: 0
    .right_detail
        .bt3
            width: 100%
            margin: 0 0 5px
        .quick-order-link
            width: 100%
            margin-left: 0
            line-height: 49px
            padding: 0
    .workarea.pright
        width: 100%
    .table_price, 
    .table_discount,
    .table_price_summ
        width: 225px
    .catr_table .t_image
        width: 100%
/* BEGIN: edit 12-06-2018 */
@media screen and (max-width: 414px)
    .slideViewer div:first-child 
        > ul 
            > li 
                img
                    max-width: 330px !important
                    max-height: 330px !important
                    margin-top: 0
@media screen and (max-width: 375px)
    .slideViewer div:first-child 
        > ul 
            > li 
                img
                    max-width: 292px !important
                    max-height: 292px !important
                    margin-top: 0
/* END: edit 12-06-2018 */        
@media screen and (max-width: 320px)
    .slideViewer
        height: 240px !important
        div:first-child
            > ul
                > li
                    img
                        max-width: 240px !important
                        max-height: 240px !important
    
    .table_price, 
    .table_discount,
    .table_price_summ
        width: 190px                        
/* END: edit 07-06-2018 */