.right_d_pay 
        .retail_vert
            margin-right: 0
@media screen and (max-width: 1024px)
    .listitem_horizontal.pleft
        div
            div[hidden=""]
                display: none
            .bt3
                top: 0
@media screen and (max-width: 480px)
    .listitem_horizontal.pleft 
        div 
            .bt3
                top: 18px
                width: 50%
            .price_vert
                top: 22px
        .voterating
            float: right
            width: initial
            &+div
                display: none
            table
                width: initial!important
    .detail
        display: none
    .d_tech_n 
        .nal_pic_dd
            top: -50px
    .right_d_pay 
        .retail_vert
            top: 0
            padding-right: 0
        .block-fav
            float: left     