a.close,
.modal
    margin-left: 0!important
.modal
    transform: translateX(-50%)
    .hide-ico
        &:before
            display: none
    
@media screen and (max-width: 480px)
    .quick-order-link
        height: auto
        width: 100%
        padding: 6px
        margin-left: 0
    .modal#addItemInCart
        margin-left: 0!important
        .bt3
            margin: 0 0 5px
    