/* BEGIN: 29-06-2018 */

@media screen and (max-width: 767px) {
    .slideViewer div:first-child>ul {
        >li {
            margin-left: 5% !important;
            img {
                max-width: 400px !important;
                max-height: 400px !important;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .slideViewer div:first-child>ul {
        >li {
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 480px) {
    .slideViewer {
        height: 250px !important;
        div:first-child>ul {
            >li {
                margin-left: 5% !important;
                margin-right: 320px;
                img {
                    max-width: 220px !important;
                    max-height: 220px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .slideViewer {
        div:first-child>ul {
            >li {
                margin-left: 5px !important;
                margin-right: 375px;
            }
        }
    }
}

/* END: 29-06-2018 */