.hide-ico
    &:after
        display: none
@media screen and (max-width: 480px)
    .butmenu
        .fa
            vertical-align: top
            margin-top: 2px
    .topmenus
        transform: translateY(30px)
    .c2
        .d_kvad_tab.fa-heart,
        .hide-ico
            padding-top: 6px
